RewriteEngine On

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^users/([a-zA-Z]+)/age/(\d+)/(\d+)$ api-filter-users.php?gender=$1&fromAge=$2&toAge=$3 [NC,L]

# users/5/tweets/date
# users/userId/tweets/31082020
# tweet/user/5/day/31/month/08/year/2019
# users/5/tweets/today










